<%- include('partials/top.ejs') %>
<div class="container">
	<h1>Error 404</h1>
	<p>Page not exist!</p>
	<button class="btn btn-warning" onclick="window.history.back()">GO BACK</button>
</div>

<%- include('partials/bottom.ejs') %>