<%- include('partials/top.ejs') %>
<div class="container">
	<h1>Error</h1>
	<p><%= err.message %></p>
	<button class="btn btn-warning" onclick="window.history.back()">GO BACK</button>
</div>

<%- include('partials/bottom.ejs') %>