<nav class="box container mt-3">
    <div class="logo">
        <a href="/"><img src="/assets/img/logo.png" alt="">SocialNet</a>
    </div>
    <div>
        <ul>
            
            <% if(user){ %>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li>
                    <a class="account" href="/account">
                        <img src="<%= user.image %>" alt="" />
                    </a>
                </li>
                <% }else{ %>
                <li><a href="/">Login</a></li>
                <li><a href="/register">Register</a></li>
                <% } %>
        </ul>
    </div>
</nav>